$headersFont: Pattaya;
$textFont: Rubik;
$mainColor: #8cbf3f;
html {
  direction: rtl;
}
body {
  background-color: #f2f2f2;
}
a {
  font-family: $headersFont;
}
.head {
  background-color: $mainColor;
}
.hulon {
  width: 50%;
}
